---
import { EntryProps } from "../../types/EntryProps";
const template = Astro.props as EntryProps;
---

<div class="text-neutral-500 items-start grid grid-cols-1 md:grid-cols-3">
  <div>
    <p class="text-neutral-400 dark:text-neutral-400">{template.date}</p>
  </div>
  <div class="md:col-span-2 w-full">
    <p class="text-black dark:text-white">
      <a
        href={template.link}
        class="underline hover:no-underline duration-200 after:content-['_↗']"
      >
        {template.title}
      </a>
    </p>
    {template.location && <p class="">{template.location}</p>}
  </div>
</div>
